http:
  routers:
    grafana:
      rule: "Host(`grafana.primecloud.local`)"
      entryPoints:
        - websecure
      service: grafana
      tls: {}

  services:
    grafana:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://10.10.30.30:3000"   # monitoring CT IP + Grafana port
